.container {
  align-items: flex-end;
  column-gap: 0.5em;
  display: flex;
}

.val-column {
  align-items: flex-end;
  background-color: darkgrey;
  border-radius: 2.5px 2.5px 0 0;
  color: white;
  display: flex;
  height: var(--val-height);
  justify-content: center;
  position: relative;
  width: 1.5em;
}

.pivot {
  background-color: red;
}

.left-pointer {
  background-color: seagreen;
}

.current {
  border: 4px solid blueviolet;
}

.in-range {
  &::after {
    background-color: orange;
    bottom: -1em;
    content: '';
    height: 0.25em;
    left: 0;
    position: absolute;
    right: 0;
  }
}
